@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
 
  margin: 0;
  padding: 0;
}




/********************** HERO SECTION COMPONENT STYLING **************************/

/********************** HERO SECTION COMPONENT STYLING **************************/

/******************* ABOUT US COMPONENT STYLING **************/

/* QUALITIES COMPONENT STYLING */

/******************* NOT FOUND PAGE STYLING **************/


/******************* NOT FOUND PAGE STYLING **************/

/**********************************************************************************************************************/




